/*Estilos Gerais*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1, p{
    margin: 0px;
    line-height: 1;
}

img{
    max-width:100%;
    border-radius: 4px;
}

p, span{
    font-size: 20px;
}

.comprar{
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

.preco{
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}