*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.card{
    background-color: #111;
    padding: 30px;
    margin: 15px;
    border-radius: 4px;
    color: #b2b2b2;
}

span{
    color: #febe01;
}

a{
    text-decoration: none;
    background-color: #febe01;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #111;
}